body 
{
	max-width:1000px;
	margin: auto !important;
	background: gray;
}

h1 
{
	max-width: 60%;
	margin: 0 auto;
	text-align: center;
	font-size:2.5em!important;
}

footer {
	text-align: center;
	 position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: gray;
}

.jumbotron
{
	margin-bottom: 3rem !important;
	display: flex;
	flex-wrap: wrap;
	gap: 2rem;
}

.container
{
	background-color: #d3d9df;
	margin: 20px;
	padding: 1em 2em 1em 2em;

}

.card-title {
	
	margin: 0.8em;
	font-size: 1rem;
}

.card-body {

	padding: 0.8rem !important;
	
}

.content-wrapper {
	margin: auto;
    text-align: center;
	height: 180px;
}

.btn {

	margin: 8px;
}





